/* Reset de estilos padrão do navegador */
body, h1, h3, p, dd, iframe {
    margin: 0;
    padding: 0;
}

main {
    background-color: #041f5df9; /* Define a cor de fundo para a seção principal */
    width: 800px; /* Define a largura da seção principal no site */
    border-radius: 15px; /* Aplica um raio de borda de 15px para arredondar as bordas */
    box-shadow: 5px 5px 25px #02194fea; /* Aplica uma sombra de 5px por 5px com desfoque de 25px */
    padding: 10px; /* Adiciona preenchimento interno de 10px à borda da seção principal */
    margin: auto; /* Centraliza a seção principal horizontalmente, independentemente do tamanho da janela */
}

body {
    background-color: #072D84;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    display: flex; /* Define um layout flex para alinhar as fotos */
    flex-direction: column; /* Empilha os elementos verticalmente */
    justify-content: space-between; /* Espaço entre a foto1 e o conteúdo principal, e entre o conteúdo principal e a foto2 */
    align-items: flex-start; /* Alinha a foto1 à direita e a foto2 à esquerda */
    min-height: 100vh; /* Garante que o corpo ocupe a altura total da tela */
    max-width: 100%;
}

header {
    background-color: #fff; /* Define a cor de fundo do cabeçalho */
    padding: 20px; /* Adiciona um espaço interno de 20px no cabeçalho */
}

body {
    position: relative; /* Definir o corpo como posição relativa para posicionar as imagens */
    width: 100vw;
}

#foto0 {
    width: 150px; /* Largura da foto0 (ajuste conforme necessário) */
    position: absolute; /* Definir o posicionamento absoluto */
    top: 0; /* Colocar a foto0 no topo */
    left: 0; /* Colocar a foto0 à esquerda */
    
}

#foto1 {
    width: 100px; /* Largura da foto1 (ajuste conforme necessário) */
    position: absolute; /* Definir o posicionamento absoluto */
    top: 0; /* Colocar a foto1 no topo */
    right: 0; /* Colocar a foto1 à direita */
    z-index: -2;
}

#foto2 {
    width: 180px; /* Define a largura da foto2 como 150px (ajuste conforme necessário) *//*trocar por porcentagem*/
    position: absolute; /* Define a posição absoluta para a foto2 */
    z-index: -2;
    left: 0; /* Alinha a foto2 à esquerda */
}

#gedai {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 30px;
    width: 120px;
    margin: auto; /* Center the text horizontally */
    text-shadow: 2px 2px 2px rgba(122, 122, 122, 0.5); /* Add a 3D text effect */
    padding: 25px;
}

main {
    max-width: 80%; /* Define a largura máxima para o conteúdo principal */
    margin: 15px auto; /* Centraliza o conteúdo principal horizontalmente */
    padding: 20px; /* Adiciona um espaço interno de 20px no conteúdo principal */
    text-align: justify;

}

h1 {
    font-size: 24px; /* Tamanho da fonte para o cabeçalho principal */
    text-align: center;
}

h3 {
    font-size: 20px; /* Tamanho da fonte para os cabeçalhos de terceiro nível */
}


p {
    font-size: 16px; /* Tamanho da fonte para os parágrafos */
    margin-bottom: 10px; /* Adiciona um espaço inferior de 10px para separar os parágrafos */
    text-align: justify;
}

#primeiroParagrafo {
    font-weight: bold; /* Define o texto em negrito */
}

.passo {
    font-style: italic; /* Define o texto em itálico */
}

iframe {
    width: 100%; /* Define a largura do iframe como 100% do elemento pai */
    height: 400px; /* Define a altura do iframe como 400px */
    border-radius: 15px; /* Aredonda a borda do iframe */
    border: none;
}

#equipeGedai {
    font-size: 18px; /* Tamanho da fonte para o cabeçalho "EQUIPE GEDAI" */
    margin-top: 20px; /* Adiciona um espaço superior de 20px */
    text-align: center; /* Centraliza o texto horizontalmente */
}

dl {
    text-align: center; /* Centraliza a lista de descrição horizontalmente */
}

dd {
    margin-bottom: 5px; /* Adiciona um espaço inferior de 5px entre os itens da lista de descrição */
}

a{
    color:rgb(114, 116, 139);
}

/*@media screen and (max-width: 600px) {
    p {
        font-size: 10px;
    }
}*/